body{
    max-width:1000px;
    margin:auto;
    font-family: Roboto;
    font-size:16px;
   /* background-color: yellowgreen;*/
}

h2 { 
    font-weight: bold;
    padding-left: 20px;
}

h4{
	font: italic small-caps bolder 28px arial, sans-serif;
}

.list-box{

    width:100%;

    overflow:hidden;

}

#image {
    float: left;
    padding: 0 20px 20px 20px;
    /*height: 200px;*/
}

#identity {
    overflow: auto;
}

div{
	/*border: 1px solid black;*/
	margin-top: 5px;
	padding: 20px;
}

.box{

    /*display: inline-block;*/
    width: 45%;
    float:left;

}

#background-img {
    /*background-image: url('img/bat_cover.jpg') ;*/
    height: 350px;
    padding-top: 50px;
    color: #fff;
    margin-top: 25px;
}

#content {
    max-width: 450px;
    background-color: rgba(26, 24, 24, 0.7);
    color: white;
    margin-top: 100px;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

}

th,td {
    padding: 15px;
    border: 1px solid black;


}

th {
    text-align: left;
    background-color: teal;

}

.thumbnail {
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 50px;
}